@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
html {
  box-sizing: border-box; }
  html *, html *::before, html *::after {
    box-sizing: inherit; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700; }

body {
  font-family: "Lato", sans-serif;
  color: white;
  background: url("/img/audience.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

header {
  background: rgba(76, 49, 124, 0.967);
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; }
  header .container {
    padding: 0; }
  header .fa {
    float: left;
    margin: 1.7rem 0 1.7rem 2rem;
    font-size: 3.2rem;
    color: white;
    cursor: pointer; }
    @media screen and (min-width: 845px) {
      header .fa {
        display: none; } }
  header .title {
    display: inline-block;
    text-decoration: none;
    color: white; }
    header .title h4 {
      margin: 1.5rem auto;
      font-weight: 400; }
    @media screen and (min-width: 845px) {
      header .title h4 {
        margin: 1rem auto; } }

.navbar {
  clear: both;
  display: none;
  text-align: center; }
  .navbar ul li {
    display: block;
    text-transform: uppercase; }
    .navbar ul li a {
      display: block;
      opacity: 0.7;
      padding: 0.8rem 0;
      color: white;
      text-decoration: none; }
      .navbar ul li a:hover {
        opacity: 1; }
  @media screen and (min-width: 845px) {
    .navbar {
      display: block; }
      .navbar ul {
        margin: 0; }
        .navbar ul li {
          display: inline-block; }
          .navbar ul li a {
            padding: 0 1rem; } }

.expand {
  display: block; }

main {
  margin-top: 12rem;
  text-align: center;
  padding: 5rem 0 10rem 0; }

input[type="email"] {
  color: #57398e;
  border: none;
  transition: all 0.8s; }
  input[type="email"]:focus {
    border: 1px solid #6240a0; }

input[type="submit"] {
  background: #6240a0;
  border-color: #6240a0;
  color: white;
  font-size: 1.4rem;
  transition: all 0.1s; }
  input[type="submit"]:hover {
    background: #432c6d;
    border-color: #432c6d;
    color: white; }

.wrapper {
  position: relative;
  min-height: 100%; }

.footer {
  text-align: center;
  margin-top: 3rem;
  padding: 2rem 0 1rem 0;
  background: rgba(98, 64, 160, 0.7); }

.links {
  list-style-type: none;
  margin: 0; }
  .links a {
    color: white;
    text-decoration: none; }
    .links a:hover {
      color: #b4a0d9; }
  @media screen and (min-width: 845px) {
    .links li {
      display: inline-block; } }

.fa-twitch {
  color: white;
  font-size: 2.6rem;
  margin: 0 1rem; }

.fa-twitter {
  color: #4fabee;
  font-size: 2.6rem;
  margin: 0 1rem; }

.fa-facebook-official {
  color: #5d87d5;
  font-size: 2.6rem;
  margin: 0 1rem; }

.privacy {
  margin: 0;
  text-decoration: none;
  color: white; }
  .privacy:hover {
    color: #b4a0d9; }
