// FONTS
@import url('https://fonts.googleapis.com/css?family=Lato:400,700')
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')

// VARIABLES
$purple: hsl(261, 43%, 44%)
$white: hsl(261, 0%, 100%)
$twitter-blue: hsl(205, 82%, 62%)
$facebook-blue: hsl(219, 59%, 60%)

$heading: 'Roboto Condensed', sans-serif
$font: 'Lato', sans-serif

// MIXINS

// MAIN STYLING
html
	height: 100%
	box-sizing: border-box
	*, *::before, *::after
		box-sizing: inherit
	h1, h2, h3, h4, h5, h6
		font-family: $heading
		font-weight: 700

body
	height: 100%
	display: flex
	flex-direction: column
	justify-content: space-between
	font-family: $font
	color: $white
	background: url("/img/audience.jpg") no-repeat
	background-size: cover
	background-attachment: fixed
	background-position: center

// HEADER
header
	background: transparentize(darken($purple, 10%), 0.033)
	position: fixed
	text-align: center
	top: 0
	left: 0
	right: 0
	z-index: 5
	.container
		padding: 0
	.fa
		float: left
		margin: 1.7rem 0 1.7rem 2rem
		font-size: 3.2rem
		color: $white
		cursor: pointer
		@media screen and (min-width: 845px)
			display: none
	.title
		display: inline-block
		text-decoration: none
		color: $white
		h4
			margin: 1.5rem auto
			font-weight: 700
		@media screen and (min-width: 845px)
			h4
				margin: 1rem auto

.navbar
	clear: both
	display: none
	text-align: center
	ul
		li
			display: block
			text-transform: uppercase
			a
				display: block
				opacity: 0.7
				padding: 0.8rem 0
				color: $white
				text-decoration: none
				&:hover
					opacity: 1
	@media screen and (min-width: 845px)
		display: block
		ul
			margin: 0
			li
				display: inline-block
				a
					padding: 0 1rem

.expand
	display: block

// MAIN SECTION
main
	margin: 35% auto
	align-self: center
	text-align: center
	.twitch
		color: lighten($purple, 15%)
	p
		color: lighten(saturate($twitter-blue, 5%), 10%)
		font-weight: 700

form
	border: none
	border-radius: none

input[type="email"]
	color: darken($purple, 5%)
	width: 225px
	border: none
	border-radius: 0

input[type="submit"]
	background: $purple
	border-color: $purple
	border-radius: 0
	color: $white
	font-size: 1.3rem
	width: 225px
	transition: all 0.1s
	&:hover
		background: darken($purple, 14%)
		border-color: darken($purple, 14%)
		color: $white

//FOOTER

.footer
	// width: 100%
	text-align: center
	margin-top: 3rem
	padding: 2rem 0 1rem 0
	background: transparentize($purple, 0.3)

.links
	list-style-type: none
	a
		color: $white
		text-decoration: none
		&:hover
			color: lighten($purple, 30%)
	@media screen and (min-width: 845px)
		li
			display: inline-block

.fa-twitch
	color: $white
	font-size: 2.6rem
	margin: 0 1rem

.fa-twitter
	color: $twitter-blue
	font-size: 2.6rem
	margin: 0 1rem

.fa-facebook-official
	color: $facebook-blue
	font-size: 2.6rem
	margin: 0 1rem

.privacy
	margin: 0
	text-decoration: none
	color: $white
	&:hover
		color: lighten($purple, 30%)
